
ul li {list-style: none;}
img{border:0;}
.clearBoth{clear:both;}
.leftfix{float:left}
.rightfix{float:right}

/*头部样式*/
.topbar{height:40px;
        background:#333333;
        margin:0 auto;
        color:#b0b0b0;
        font-size:12px;
        line-height:40px;
        }
.topbar a{
        color:#b0b0b0;
        }
.topbar a:hover{
                color:#ffffff;
                text-decoration:none;
                }
.Container{width:1170px;
          margin:0 auto;
          padding:0;
          cursor:pointer;
          }
.span{color:#424242;
        margin:0.5em;
      }
.shoppingcart{width:120px;
              margin-left:15px;
              float:right;
              color:#b0b0b0;
              background:#424242;
              text-align:center;
              position:relative;
              }
.shoppingcartIcon{
                width:14px;
                position: absolute;
                margin-left: -20px;
                margin-top: 11px;
                }
.shoppingcart:hover{color:#ff6700;
                    background: white;
                    }
/*.shoppingcartIcon:hover{color:#ff6700;}*/

/*头部nav样式*/
.head1{
      height:100px;
      background:white;
      line-height:100px;
       }

.leftnav{float:left;
        display:inline-flex;
        font-size:16px;
        }
.leftnav ul{
        padding:0;
        }
.leftnav li{
        float:left;
        }
.leftnav a{
        height:100px;
        color:#333333;
        line-height: 100px;
        margin-right: 15px;
        }
.leftnav a:hover{
        color:#ff6700;
        text-decoration:none;
        }
.rightnav{
        float:right;
        position: relative;
        }
.MIIcon{background:#ff6700;
        margin:25px auto;
        position:relative;
         }
.SearchBox{height:50px;
            width:190px;
            border:1px solid #e0e0e0;
            vertical-align:middle;
            border-right: none;
            }
#fa-search{
            font-size:1.6em;
            }
.SearchBtn{height:50px;
            width:50px;
            border:1px solid #e0e0e0;
            background:transparent;
            color:#b0b0b0;
            vertical-align:middle;
            position:relative;
            line-height:50px;
            padding:3px;
            }

.rightnav .SearchBtn:hover{
            background:#ff6700;
            color:#e3e3e3;
            }

.hotword    {position: absolute;
            text-align:right;
            margin-top:-98px;
            margin-left:87px;
            }
.hotword a{
            font-size:12px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            background:#e3e3e3;
            color:rgb(117,117,117);
            display: inline-block;
            line-height: 1.42857143;/*1.42857143why*/
            position:relative;
            }
.hotword a:hover{
            text-decoration:none;
            background: #ff6700;
            color: #fff;
            }
.lunbo{
        height:460px;
        position:relative;
        z-index:9;
        }
.search_info{
    position: absolute;
    display: none;
    top: 76px;
    width:190px;
    left: 0px;
    z-index: 10;
    background: #ffffff;
    font-size: 12px;
    border: 1px solid #ff6700;
    border-top: none ;
}
.search_info li{
    padding: 5px 10px 5px 10px;
    height: 30px;
    line-height: 30px;
    color: #424242;
    margin-left: -30px;
}
.search_info .leftfix{
    color: #424242;
}
.search_info .rightfix{
    color: #b0b0b0;
}
/*轮播图play*/
.play{
            margin:0 auto;
            width:1170px;
            height:460px;
            position:relative;
            }
.play ul{
            list-style:none;
            margin:0;
            padding:0;
            }
.play img{
            width:1170px;
            height:460px;
            display:block;
            }
.imgList li{
            position:absolute;
            opacity:0;
            transition: opacity 1s;
            top:0;
            left:0;
            }
.imgList li.current{
            opacity:1;
            }
.play-list{
            position:absolute;
            bottom:20px;
            right:20px;
            }
.play-list span{
            float:left;
            width:12px;
            height:12px;
            border:1px solid #999;
            background: #999;
            border-radius: 7px;
            font-size: 0;
            margin-right: 5px;
            cursor: pointer;
            }
.play-list span.current{
            background:red;
            }
.slide{     position:absolute;
            color:#fff;
            background:rgba(0,0,0,.6);
            height:80px;
            width:40px;
            top: 50%;
            line-height: 80px;
            text-align: center;
            opacity:0.5;
            cursor:pointer;
            font-weight: bold;
            font-size: 20px;
            transform: translate(0, -50%);
            transition:0.3s;
            }
.slide:hover {
            opacity: 1;
            }
.slide-left{
            left:234px;
            }
.slide-right{
            right:1px;
            }
/*轮播图侧边栏site-category*/
.site-category{background:rgba(0,0,0,0.6);
                position:absolute;
                width:234px;
                font-size:14px;
                z-index:12;
                top:0;
                left:0;
                }
.site-category ul{
                margin: 0;
                padding: 0;
                  }
.site-category li{
                height:46px;
                line-height:46px;
                color:#fff;
                cursor: pointer;
                }
.site-category li:hover{
                        background:#ff6700;
                       }
.site-category-list{
                float:left;
                }
.gtIcon{
        float:right;
        margin-right:20px;
        }

.site-category li .site-category-list{
        margin-left:20px;
        }
/*<!-- 轮播图下方一排小图 -->*/
.home-service-list{
        width:1170px;
        height:170px;
        margin:0 auto;
        margin-top:12px;
        }
.iconfont-list{
        width:234px;
        background:#5f5750;
        float:left;
        height: 170px;
        }
.iconfont-list ul{
        padding:3px;
        font-size:12px;
        text-align: center;
        }
.channel-list li{
        position:relative;
        width:70px;
        height:82px;
        float:left;
        text-align: center;
        padding:0 3px;
        }
.channel-list a{
        display:block;
        color:rgba(255,255,255,0.7);
        padding-top: 18px;
        }
.channel-list a:hover{
        text-decoration:none;
        color:#fff;
        }
.channel-list span{
        display:block;
        font-size: 24px;
        height: 24px;
        line-height: 24px;
        margin-bottom: 4px;
        }
.img1List{
        width:936px;
        float:left;
        }
.img1_ul{
        margin:0;
        padding:0;
        }
.img1_ul img{
        width:300px;
        height:170px;
        }
.img1_ul li{
        float:left;
        width:300px;
        height:170px;
        margin-left: 12px;
        }
/*小米闪购*/
.xiaomiShanGou{
        width:1170px;
        margin:0 auto;
        margin-top: 12px;
        cursor: pointer;
        }
.shangouTitle .title{
        font-size:22px;
        margin: 0;
        margin-top: 0px;
        color: #333;
        line-height: 58px;
        float: left;
        }
.shangouTitle{
        height:58px;
        }
.more ul{
        float:right;
        margin: 12px 0px;
        }
.more ul li a span{
        width:24px;
        padding: 0px 3px;
        font-size: 16px;
        line-height: 16px;
        color: #e0e0e0;
        }
.more ul li a span:hover{
        color:#ff6700;
        }
.shangouContent{
        width:1170px;
        overflow: hidden;
        }
.shangouContent .goodsList{
        height:340px;
        overflow: hidden;
        }
.shangouContent .goodsList .goodsList-ul{
        float:left;
        margin: 0;
        padding: 0;
        }
.miaoshaGoods .miaoshaGoods-ul{
        margin: 0;
        padding: 0;
        text-align: center;
        }
.shangouContent .goodsList li{
        height: 340px;
        border-top-style: solid;
        border-top-width: 1px;
        width: 220px;
        background: #fafafa;
        }
.shangouContent .goodsList li:hover{
    transform:translate(0,-4px);
    }
.shangouContent .goodsList-ul li{
        background: #f1eded;
        text-align: center;
        padding-top: 39px;
        }
.miaoshaGoods .miaoshaGoods-ul li{
        margin-left:17px;
        background: #fff;
        position: relative;
        }
.goodsList .goodsList-ul .goods1Info{
        border-top-color: #e53935;
        }
.shangouContent .goodsList ul li .changci{
        color: #ef3a3b;
        font-size: 21px;
        padding-top: 15px;
        }
.shangouContent .goodsList li img{
        margin: 35px auto;
        }
.shangouContent .goodsList ul li .countdownTip{
        font-size:15px;
        color:rgba(0,0,0,0.54);
        }
.shangouContent .goodsList ul li .countdownTime{
        margin:30px;
        }
.shangouContent .goodsList ul li .countdownTime .box{
        float:left;
        width:40px;
        height:40px;
        line-height:40px;
        background:#605751;
        }
.shangouContent .goodsList ul li .countdownTime .dosh{
        float:left;
        height:46px;
        width:15px;
        line-height:46px;
        color:#605751;
        font-size:28px;
        }
.shangouContent .goodsList .miaoshaGoods{
        height:340px;
        overflow:hidden;
        }
.goodsList .miaoshaGoods .goods2Info{
        border-top-color: #ffac13;
        float:left;
        }
.goodsList .miaoshaGoods .goods3Info{
        border-top-color: #83c44e;
        float:left;
        }
.goodsList .miaoshaGoods .goods4Info{
        border-top-color: #2196f3;
        float:left;
        }
.goodsList .miaoshaGoods .goods5Info{
        border-top-color: #e53935;
        float:left;
        }
.goodsList .miaoshaGoods .goods6Info{
        border-top-color: #00c0a5;
        float:left;
        }
.goodsList .miaoshaGoods .goods7Info{
        border-top-color: #ffac13;
        float:left;
        }
.goodsList .miaoshaGoods .goods8Info{
        border-top-color: #83c44e;
        float:left;
        }
.goodsList .miaoshaGoods .goods9Info{
        border-top-color: #2196f3;
        float:left;
        }
.miaoshaGoods-ul li .bg{
        background:rgba(0,0,0,0.02);
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        }
.zhekou{
        background:#e53935;
        color:#fff;
        height:20px;
        line-height:20px;
        width:64px;
        margin:0 auto;
        }
.phoneGoods .xinpin{
    background:#83c44e;
    }
.goodsPic img{
        width:150px;
        height:150px;
        margin-bottom:25px;
        margin-top: 15px;
        }
.goodsname{
        color:#333333;
        font-size:14px;
        font-weight:400;
        margin: 0px 20px 3px;
        }
.goodsinfo{
        color:#b0b0b0;
        height: 18px;
        font-size:12px;
        margin: 0px 20px 12px;
        }
.goodsprice{
        color:#ff6709;
        }
.goodsprice .span2{
        color:#b0b0b0;
        }
/*插入广告图*/
.ad1{
    margin: 0 auto;
    width: 1170px;
    }
.ad1 img{
    width:1170px;
    margin: 20px auto;
    }
/*手机*/
.phone{
        height:1645px;
        background: #f5f5f5;
        }
.phone .phoneHead{
        height:58px;
        line-height: 58px;
        }
.phone .phoneHead .more a{
        color:#424242;
        font-size:16px;
        transition: all .4s;
        }
.phone .phoneHead .more a:hover{
        color:#ff6700;
        text-decoration:none;
        }
.phone .phoneHead .more a:hover .fonticon{
        background:#ff6700;
        }
.phone .phoneHead .more .fonticon{
        background: #b0b0b0;
        font-size: 18px;
        transition: all .4s;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fff;
        padding: 0 5px;
        ine-height: 20px;
        }
.phone .phoneTitle .title{
        font-size: 22px;
        margin: 0;
        margin-top: 0px;
        margin-top: 0px;
        color: #333;
        line-height: 58px;
        float: left;
        }
.phone .phoneList li{
        width:220px;
        }
.phone .phoneList .leftAdPic img{
        height:614px;
        margin:0;
        padding:0;
        }
.phone .phoneList .leftAd-ul{
        margin: 0;
        padding: 0;
        }
.phone .phoneGoods{
        width:936px;
        }
.phone .phoneGoods .phoneGoods-ul{
        overflow:hidden;
        padding: 0;
        display:block;
        }
.phone .phoneGoods .phoneGoods-ul li{
        background:#fff;
        height: 300px;
        text-align:center;
        margin-left: 14px;
        }
.phone .phoneGoods .phoneGoods-ul li:hover{
    transform:translate(0,-4px);
    }
.phoneInfo{
        margin-bottom: 14px;
        }
/*家电*/
.JiaDian .Other li{
        color:#424242;
        display:inline-block;
        margin:0 0 0 30px;
        font-size:16px;
        border-bottom: 2px solid transparent;
        }
.JiaDian .Other li:hover{
        color:#ff6700;
        border-bottom:2px solid #ff6700;
        }
.JiaDian .JiaDianHead{
        height:58px;
        }
.JiaDian .Other{
        margin-top:15px;
        }
.JiaDian .JiaDianGoods{
        height:614px;
        width:100%;
        }
.JiaDian .leftpic{
        width:234px;
        }
.JiaDian .JiaDianGoods .leftimg{
        width:234px;
        }
.JiaDian .JiaDianGoods .leftimg:hover{
        transform:translate(0,-4px);
        }
.JiaDian .JiaDianGoods #leftimg1{
        margin-bottom:14px;
        }
.JiaDianGoods li{
        width: 220px;
        height: 300px;
        background: #fff;
        margin-left: 12px;
        text-align: center;
        padding: 0 0 14px 14px;
        }
.JiaDianGoods li:hover{
        transform:translate(0,-4px);
        }
.JiaDian .JiaDianGoods .rightgoods{
        width:936px;
        overflow: hidden;
        height: 614px;
        }
.JiaDianGoods ul{
        margin:0;
        padding:0;
        }
.rightgoods ul{
        display:none;
        }
.rightgoods ul.active{
        display:block;
        }
.pingjia{
        display:none;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 90px;
        width: 220px;
        background: #ff6700;
        }
.pingjia-1{
        display: block;
        text-align: left;
        margin: 0 auto;
        position: relative;
        height: 60px;
        width: 200px;
        padding-left: 5px;
        padding-top: 15px;
        color: #f0f0f0;
        font-size: 13px;
        }
.pingjia-2{
        text-align: left;
        color: #cccccc;
        font-size: 12px;
        margin: 0 auto;
        width: 200px;
        }
/*底部*/
.footer{
        height:300px;
        }
.footer .footer-service{
        padding:35px 0;
        border-bottom:1px solid #e0e0e0;
        height: 85px;
        }
.footer .list-service{
        margin:0;
        padding:0;
        list-style-type:none;
        }
.footer .list-service li{
        float:left;
        height:25px;
        width:19.0%;
        font-size:16px;
        line-height:25px;
        text-align:center;
        border-left:1px solid #e0e0e0;
        }
.footer .list-service li i{
        font-size: 24px;
        margin-right: 6px;
        line-height: 24px;
        vertical-align: -3px;
        }
.footer .list-service li:first-child{
        border-left:0;
        }
.footer-link{
        padding:40px 0;
        }
.footer a{
        color:#757575;
        }
.footer a:hover{
        text-decoration: none;
        color:#ff6700;
        }
.footer-link .col-links{
            float:left;
            width:148px;
            height:112px;
            }
.footer-link .col-links dd{
            font-size:12px;
            margin:10px 0 0;
            }
.footer-link .col-links dt{
            font-size:14px;
            color:#424242;
            margin: -1px 0 24px;
            line-height: 1.25em;
            }
.footer-link dl:last-child{
        border-right:1px solid #e0e0e0;
        }
.footer-link .col-contact{
        float: right;
        border-left: 1px solid #e0e0e0;
        color: #616161;
        width: 278px;
        height: 112px;
        text-align: center;
        }
.footer-link .col-contact p{
        font-size:12px;
        margin-bottom: 14px;
        }
.footer-link .col-contact .tel{
        color:#ff6700;
        font-size: 22px;
        margin: 0 0 10px;
        }
.footer-link .col-contact .customer-contact{
        color: #ff6700;
        border: 1px solid #ff6700;
        width: 118px;
        height: 28px;
        line-height: 28px;
        font-size: 12px;
        display: inline-block;
        }
.home-right-bar{
        top:150px;
        right:0;
        position:fixed;
        }
.home-right-bar a{
        height:60px;
        width:80px;
        color:#757575;
        font-size:12px;
        }
.home-right-bar a:hover{
        text-decoration: none;;
        }
.home-right-bar li{
        height:70px;
        width:80px;
        border: 1px solid #e0e0e0;
        text-align: center;
        cursor:pointer;
        }
.home-right-bar li:hover{
        color:#FFFFFF;
        background-color:#ff6700;
        }
.home-right-bar img{
        width:30px;
        height:30px;
        margin-top: 15px;
        }
.home-right-bar .personInfo{
        height:20px;
        width:60px;
        line-height: 20px;
        margin-left: 8px;
        }
.home-right-bar .border-none{
        border-bottom: none;
        }

